.ta-icon {
    --ta-icon-color: currentcolor;

    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: inherit;
    line-height: 1;
    vertical-align: middle;
    color: var(--ta-icon-color);
    fill: var(--ta-icon-color);
}

@each $val in primary,
info,
success,
warning,
danger {
    .ta-icon--$(val) {
        --ta-icon-color: var(--ta-color-$(val));
    }
}